body {
    background: #E5E5E5;
}

.top {
    width: 100vw;
    height: 92px;
    background:#CF2B2B;
    color: #FFFFFF;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 8px 145px 40px 21px;
    box-shadow: 0px 2px 15px gray;
}

.heading {
    font-family: Righteous;
    font-size: 44px;
}

.subheading {
    font-family: Roboto;
    font-size: 18px;
}

.container {
    margin-top: 92px;
    margin-bottom: 108px;
    width: 100vw;
    background: #E5E5E5;
    padding-left: 11px; 
}

.orders {
    padding-top: 31px;
    display: flex;
    flex-direction: column; 
}

.orders-top {
    margin-left: 8px;
    font-size: 26px;
    font-family: Righteous;
    color: #333;
}

.orders-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 172px;
    height: 216px;
    padding: 18px 14px 111px 12px;
    margin: 17px 8px 0px 8px;
    border-radius: 9px;
    background: #FFFFFF;
    font-family: Roboto;
  }

li :first-child {
    margin-top: 4px;
    margin-bottom:4px;
}

li :last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li :last-child > span {
    display: flex;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 3px;
}

.dishes {
    font-size: 16px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    font-weight: lighter;
}

.price {
    font-size: 16px;
    font-weight: normal;
}

ion-icon {
    font-size: 16px;
}

.checkicon {
    color: #FFF;
}

.bottom {
    background: #FFF;
    width: 100vw;
    height: 92px;
    position: fixed;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    width: calc(100vw - 12%);
    height: 61px;
    border-radius: 50px;
    border: none;
}

.confirm{
    background:#FFFFFF;
    color: #50D074;
    height: 65%;
    width: calc(100vw - 20%);
}

.cancel {
    background:#50D074;
    height: 35%;
    width: calc(100vw - 20%);
    padding: 10px 0;
}

.select-item {
    background: #CBCBCB;
    font-weight: normal;
}

.checkout-order {
    background: #32B72F;
}

.container .orders:last-child {
    margin-bottom: 16px;
}

.blank {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 3;
}

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25vh 4vw;
    padding: 10px 0;
    background: #50D074;
    color: #FFFFFF;
    font-size: 22px;
    width: 91%;
    height: 65%;
    position: fixed;
    z-index: 4;
    border-radius: 9px;
    font-family: roboto;
}

.confirmation > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 13px 15px 13px 15px;
}

.confirmation :first-child {
    justify-content: center;
}

.confirmation :last-child {
    flex-direction: column;  
}

.total {
    font-weight: bold;
}

.hide {
    display: none;
}

.unhide { 
    display: block;
}

.activeli {
    border: 3px solid #32B72F;
    border-radius: 9px;
}

.activeicon {
    color:#32B72F;
}

 /*-------HIDE SCROLLBAR--------*/
.food::-webkit-scrollbar, .beverage::-webkit-scrollbar, .dessert::-webkit-scrollbar {
    display: none;
}
